.ui.menu {
  margin-bottom: 0;
}
.grid>.row {
  box-shadow: none !important; 
  margin:40px 0 !important;
}
.ui.celled.grid {
  box-shadow: none;
}

.content {
  display: inline-flex;
  justify-content: space-between;
}

a.header {
  text-align: center;
}
.ui.card:first-child {
  width: 100%;
}
body {background-color: lightcyan;}

.three.wide.column  {
  font-size: xx-large;
 color: red;
 font-weight: bold;
} 
@media only screen and (max-width: 768px) {
  body {
      text-align: center;
  }
  
}